<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1> <a th:href="@{'/'}"><span th:text="Forum"/></a></h1>
    <br>
    <br>
    <h2>Wybierz temat:</h2>
    <div style="text-align:center" th:each="topic : ${topics}">
        <a th:href="@{'/topic/' + ${topic.id}}"><span th:text="${topic.name}"/></a>
    </div>
    <form style="text-align:center" th:object="${newTopic}" action="#" th:action="@{'/topic'}"  th:method="post">
        <input th:field="*{name}"/>
        <button type="submit">Dodaj temat</button>
        <span style="color:red;" th:text="${error}" />
    </form>
</body>
</html>