<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1> <a th:href="@{'/'}"><span th:text="Forum"/></a></h1>
    <h1 th:text="${topic.name}">Temat</h1>
    <div style="text-align:center">Komentarze:</div>
    <div style="text-align:center;"><span style="color:red;" th:text="${info}" /></div>
    <div style="text-align:center"  th:each="comment : ${comments}">
        <form style="text-align:center" th:action="@{'/topic/' + ${topic.id} + '/comment/' + ${comment.id}}"  th:method="PUT">
            <span th:text="${comment.content}"/><button type="submit">Potencjalny hate speech</button>
        </form>
w
    </div>
    <form style="text-align:center" th:object="${newComment}" action="#" th:action="@{'/topic/' + ${topic.id} + '/comment'}"  th:method="post">
        <input  th:field="*{content}"/>
        <button type="submit">Dodaj komentarz</button>
        <span style="color:red;" th:text="${error}" />
    </form>
</body>
</html>